@page "/test"
@using RewatchIt.Services
@using RewatchIt.Data
@inject TmdbService MovieService
@inject DialogService DialogService

<h1>Movies</h1>

<RadzenButton Click=@(args => ExecuteQuery()) Text="Query" Style="margin-bottom: 20px; width: 150px" />

@{
    <RadzenDataGrid @ref="movieGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="10"
                    AllowPaging="true" AllowSorting="true" Data="@tmdbMovieList" TItem="TmdbMovie"
                    ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="TmdbMovie" Property="Title" Title="Title">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="help" MouseEnter=@(() => ShowDetails(data.Title)) Text="@data.Title" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TmdbMovie" Property="ReleaseDate" Title="Released Date" Width="20" FormatString="{0:d}" />
            <RadzenDataGridColumn TItem="TmdbMovie" Property="VoteCount" Title="Popularity Score" Width="20" />
        </Columns>
    </RadzenDataGrid>
}

@code
{
    readonly List<TmdbMovie> tmdbMovieList = new List<TmdbMovie>();
    RadzenDataGrid<TmdbMovie> movieGrid;

    //protected override async Task OnInitializedAsync()
    //{
    //}

    private async Task ExecuteQuery()
    {
        int queryYear = 1986;

        int moviePageCount = await MovieService.GetMoviePageCount(queryYear);
        if (moviePageCount > 25)
        {
            moviePageCount = 25;
        }

        for (int page = 1; page <= moviePageCount; page++)
        {
            List<TmdbMovie> result = await MovieService.GetMovies(page, queryYear);
            tmdbMovieList.AddRange(result);
            await movieGrid.Reload();
        }
    }

    async Task ShowDetails(string orderId)
    {
        await DialogService.OpenAsync<TmdbMovieCard>($"Order {orderId}",
            new Dictionary<string, object>() { { "OrderID", orderId } },
            new DialogOptions() { Width = "700px", Height = "530px" });
    }
}

