@page "/tmdbDialogcard/{MovieId}"
@using RewatchIt.Services
@using RewatchIt.Data
@using Syncfusion.Blazor.Cards
@inject TmdbService movieService

<SfCard Orientation="CardOrientation.Horizontal">
    <img src="@movieDetails.PosterUrl" class="img-thumbnail" style="height: 75%; width: 50%;">
    <CardStacked>
        <CardContent>
            <div class="container-fluid">
                <div class="row">
                    <div class="col" align="right">
                        <h5>@movieDetails.ReleaseDate.ToShortDateString()</h5>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col">
                        <h3>@movieDetails.TagLine</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>@movieDetails.Overview</p>
                    </div>
                </div>
            </div>
        </CardContent>
    </CardStacked>
</SfCard>


@code
{
    [Parameter]
    public int MovieId { get; set; }

    TmdbMovie movieDetails = new TmdbMovie();

    protected override async Task OnInitializedAsync()
    {
        if (MovieId > 0)
        {
            movieDetails = await movieService.GetMovie(MovieId);
        }
    }
}
